<!DOCTYPE html>
<html lang="kr">

<head>
	<meta charset="UTF-8" />
	<title>book page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bookmark_form.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<nav class="container-fluid">
		<div class="logoIdBox">
			<div>
				<a class="navbar-brand" href="/"><img th:src="@{/images/logo.png}" alt="로고이미지" width="50px" /></a>
			</div>
			<div class="userId">
				<!--<span>Welcome, [[@{#authentication.username}]]</span>-->
				<span class="author-dsiplay"></span>
				<span>님 환영합니다.</span>
			</div>
		</div>
		<ul class="navList">
			<!-- 로그인 -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/login}">Log in</a>
			</li>
			<!-- 로그아웃 -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/logout}">Log out</a>
			</li>
			<!-- Hide the "Sign up" link when the user is authenticated -->
			<!-- 회원가입 -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/signup}">Sign up</a>
			</li>

			<!-- Q&A -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/question/list}">Q&A</a>
			</li>

			<!-- 이메일 -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/email}">Email</a>
			</li>

			<!-- 주식 -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/loadStockInfo}">Stock Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/dart}">DART</a>
			</li>
		</ul>
	</nav>
	<div class="bookmarkWrap">
		<div class="bookmarkGroupBox">
			<h4 class="groupTitle">북마크 그룹</h4>

			<div class="groupAdd">
				<button type="button" class="newGroup">+ 그룹추가</button>
				<span class="groupAddIcon"><i class="fa-solid fa-gear"></i></span>
			</div>

			<div class="groupListBox">
				<ul class="groupList">
					<li class="groupItem">기본 그룹</li>
				</ul>
			</div>

			<div class="newGroupModal">
				<div class="newTitleDel">
					<div class="newModalTxt">
						<h4 class="newTitle">새 그룹</h4>
					</div>
				</div>

				<div class="newInpBox">
					<input type="text" class="newInp" placeholder="그룹 명" />
				</div>
				
				<div class="newModalBtnBox">
					<button type="button" class="newBtn">추가</button>
					
				</div>
				<div class="newModalCloseBtn">
					<button type="button" class="closeBtn">닫기</button>
				</div>
			</div>


			<div class="groupAddIconModal">
				<h4 class="addTitle">그룹 설정</h4>
				<div class="addInpBox">
					<input type="text" value="기본 그룹" />
				</div>
				<div class="addBtn">
					<button type="button" class="checkBtn">확인</button>
					<button type="button" class="addBtnClose">닫기</button>
				</div>
			</div>
		</div>

		<div class="boomarkFeed">
			<div class="FeedTitleBox">
				<h1>피드</h1>
			</div>

			<div class="FeedList">
				<div class="FeedItem">
					<h2 class="FeedCompany">삼성</h2>

					<div class="FeedDetail">
						<span class="DetailCompany">기업이름</span>
						<h3 class="DetailTitle">제목제목제목제목제목제목제목제목제목제목</h3>
						<span class="DeatailAgo">20분전</span>
					</div>

					<div class="FeedImgBox">
						<img th:src="@{/images/동료.png}" alt="피드 이미지" />
					</div>
				</div>
			</div>
		</div>

		<div class="bookmarkList">
			<h2 class="companyListTItle">기업 목록</h2>
			<div class="companyAddBox">
				<span class="companyAdd">+ 기업 추가</span>
				<div class="AddIconBox">
					<span class="sortIcon">
						<i class="fa-solid fa-arrow-down-a-z"></i>
					</span>

					<span class="optionIcon">
						<i class="fa-solid fa-gear"></i>
					</span>
				</div>
			</div>
			
			<div class="companyAddModal">
				<h1 class="AddModalTitle">기업추가</h1>
				
				<div class="companySearch">
					<input type="text" />
				</div>
				
				<ul class="companyList">
					<li class="companyItem"></li>
				</ul>
				<div class="companyBtnBox">
					<button type="button" class="companyBtnClose">닫기</button>
				</div>
			</div>

			<div class="sortModal">
				<span>X</span>
				<p>최신 순</p>
				<p>등록 순</p>
				<p>가나다 순</p>
				<p>다나가 순</p>
			</div>

			<div class="optionModal">
				<h2 class="optionTitle">기업 목록</h2>

				<div class="optionList">
					<span class="delete">삭제</span>
					<span class="move">그룹이동</span>
					<span class="complete">완료</span>
				</div>

				<div class="optionComList">
					<input class="optionChe" type="checkbox" />
					<span class="optionCompany">기업이름</span>
				</div>
			</div>
		</div>
	</div>

	<script>
		const groupBtnOpen = document.querySelector(".newGroup");
		const groupModal = document.querySelector(".newGroupModal");
		const groupModalClose = document.querySelector(".closeBtn");

		console.log(groupModal);
		groupBtnOpen.addEventListener("click", function () {
			console.log(groupBtnOpen + "Click");
			groupModal.style.display = "block";
		});

		groupModalClose.addEventListener("click", function () {
			console.log(groupModalClose + "Click");
			groupModal.style.display = "none";
		});

		const addModal = document.querySelector(".groupAddIconModal");
		const addModalOpen = document.querySelector(".groupAddIcon");
		const addModalClose = document.querySelector(".addBtnClose");

		addModalOpen.addEventListener("click", function () {
			addModal.style.display = "block";
		})

		addModalClose.addEventListener("click", function () {
			addModal.style.display = "none";
		})
		
		const companyAddOpen = document.querySelector(".companyAdd");
		const companyModal = document.querySelector(".companyAddModal");
		const companyClose = document.querySelector(".companyBtnClose")

		companyAddOpen.addEventListener("click", function () {
			companyModal.style.display = "block";
		})

		companyClose.addEventListener("click", function () {
			companyModal.style.display = "none";
		})
		
		const sortOpen = document.querySelector(".sortIcon i");
		const sortModal = document.querySelector(".optionModal");
		const sortClose = document.querySelector(".sortModal span");
		
		sortOpen.addEventListener("click", function () {
			sortModal.style.display = "block";
		})
		
		sortClose.addEventListener("click", function () {
			sortModal.style.display = "none";
		})
		
		const optionOpen = document.querySelector(".optionIcon i");
		const optionModal = document.querySelector(".optionModal");
		const optionClose = document.querySelector(".optionTitle");
		
		optionOpen.addEventListener("click", function () {
			optionModal.style.display = "block";
		})
		
		optionClose.addEventListener("click", function () {
			optionModal.style.display = "none";
		})
	</script>
</body>

</html>