.bookmarkWrap {
	width: 1700px;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
}

.bookmarkGroupBox {
	border: 2px solid gray;
	width: 300px;
	height: 800px;
	padding: 8px;
}

.groupTitle {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 50px;
	margin-bottom: 10px;
}

.groupAdd {
	border-bottom: 1px solid #8a8a8a;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	color: #8a8a8a;
	margin-bottom: 10px;
}

.newGroup {
	margin-right: 8px;
}

.groupListBox {
	height: 50px;
	margin-top: 20px;
}

.groupList {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
}

.groupItem {
	border: 2px solid gray;
	border-radius: 8px;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
}

.newGroupModal {
	border: 2px solid black;
	border-radius: 10px;
	width: 450px;
	height: 250px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: none;
}

.newInpBox {
	border: 1px solid black;
	border-radius: 8px;
	margin: 20px 0;
	padding: 8px;
	width: 360px;
	height: 50px;
	display: flex;
	align-items: center;
}

.newModalTxt {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
}

.newTitle {
	margin: 0 auto;
}

.deleteTxt {
	font-size: 24px;
}

.newInp {
	width: 300px;
	border: none;
	outline: none;
	font-size: 18px;
}

.newBtn {
	width: 250px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #4b7eff;
	color: #fff;
	font-size: 18px;
}

.groupAddIconModal {
	border: 2px solid black;
	border-radius: 10px;
	width: 450px;
	height: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

.addTitle {
	margin: 20px auto;
}

.boomarkFeed {
	border: 2px solid black;
	width: 1000px;
	margin: 0 auto;
}

.FeedTitleBox {
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #8a8a8a;
	display: flex;
	align-items: center;
}

.FeedTitleBox h1 {
	width: 950px;
	margin: 0 auto;
}

.FeedList {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #8a8a8a;
}

.FeedItem {
	width: 950px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.FeedCompany {
	margin-right: 10px;
	background-color: gray;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.FeedDetail {
	padding: 13px;
	margin-right: 7px;
}

.DetailTitle {
	margin: 10px 0;
}

.FeedImgBox img {
	width: 250px;
	height: 130px;
}

.bookmarkList {
	width: 300px;
	height: 800px;
	border: 2px solid gray;
}

.companyAdd {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #ababab;
	border-top: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	height: 50px;
}

.AddIconBox span {
	margin-right: 8px;
}

.AddIconBox span:last-child {
	margin-right: 0;
}

.sortModal {
	border: 2px solid gray;
	border-radius: 8px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 150px;
	display: none;
}

.sortModal p {
	margin: 10px 0;
}

.optionModal {
	border: 2px solid gray;
	border-radius: 8px;
	width: 250px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

.optionTitle {
	height: 40px;
}

.optionList {
	border-bottom: 1px solid #adadad;
	display: flex;
	justify-content: end;
	margin-right: 10px;
	height: 40px;
	width: 100%;
}

.optionList span {
	margin-right: 8px;
}

.optionList span:last-child {
	margin-right: 0;
}

.delete {
	color: red;
}

.move {
	color: gray;
}non

.complete {
	color: dodgerblue;
}

.optionComList {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.optionCompany {
	margin-top: 10px;
	margin-left: 5px;
}
